.card {
  input[type="checkbox"] {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 2rem;
    width:  2rem;

    @media (max-width: 768px) {
      height: 3rem;
      width:  3rem;
    }
  }

  margin-bottom: 30px;

  &-line-label {
    font-weight: 700;
    padding-right: 5px;
    text-transform: uppercase;
  }

  p {
    word-break: break-all;
    max-width: 73%;
  }
}
