label {
  padding-top: 2rem;
}

input {
  margin-bottom: 25px;
}

.submitting-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  min-width: 300px;

  .MuiCircularProgress-root {
    margin-bottom: 3rem;
  }
}

.form {

  &-light {
    .MuiInputBase-root, .MuiInputLabel-formControl, .MuiOutlinedInput-root:hover, .MuiInputLabel-formControl:active, .MuiInputLabel-formControl:hover {
      color: #FFF;
      font-weight: bold;
    }

    .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-root:hover > .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-input {
      border-color: #FFF;
      border-width: 2px;
    }


    .MuiOutlinedInput-root.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $secondary_color;
      }
    }

    .MuiInputLabel-outlined {
      &.Mui-focused {
        color: #FFF;
      }
    }
  }

  .MuiSelect-select {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .Mui-Select-selectMenu {
    height: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 5px;
  }

  .MuiFormHelperText-root {
    line-height: 1rem;
  }

  .MuiFormControl-root, .MuiInputBase-root {
    margin-top: 0;
    min-height: 50px;
    height: auto;
  }

  &-button {
    margin-top: 2rem;
  }

  &-panel {
    display: inline-block;
    width: auto;
    min-width: 500px;
    padding: 2.5rem 4rem 2rem;

    input {
      max-width: unset;
    }

    &-title {
      margin-bottom: 1.5rem;
    }
  }

  &-message {
    color: red;
    font-size: 12px;
    margin-bottom: 3px;
    text-align: left;

    &-error {
      color: red;
    }
  }

  &-error {
    border: solid 2px red;
    margin-bottom: 4px;
  }

  &-valid {
    border: solid 2px $secondary_color;
  }

  &-centered {
    width: 50%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .MuiFormControl-root {
      padding-bottom: 1rem;
      width: 100%;
    }
  }
}

.MuiCircularProgress-root.MuiCircularProgress-colorPrimary {
  color: $secondary_color;
}

@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.form-error-wrapper {
  background-color: $secondary_color;
  color: $main_dark;
  border-radius: $border-radius;
  padding: 1rem;
  margin: 1rem auto;
  width: auto;
  opacity: 0;
  transition: all ease .3s;

  &__show {
    opacity: 1;
  }
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  background:white;
  border-radius:5px;
  border:1px solid #555;
  outline: none;
  content: '';
}

input[type="checkbox"]:checked:after {
  position: relative;
  display: block;
  top: -3px;
  width: 120%;
  height: 120%;
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(28, 81, 198)" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.checkbox-label {
  display: inline-block;

  input[type="checkbox"] {
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 10px;
  }
}

.document-reader {
  background-color: $main_light_gray;
  overflow: scroll;
  height:  400px;
  width: 60vw;
  padding: 40px 30px;
  margin-bottom: 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px rgba(0,0,0,0) inset !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid $main_color !important;
}

.MuiInput-underline:before {
  border-bottom: 2px solid $main_dark !important;
}

.MuiSvgIcon-root {
  fill: $main_dark !important;
}

.mp-datetime-select-input, .mp-time-select, .mp-authorized-name-select {
  margin-bottom: 2rem !important;
}
