.navbar {
  background-color: #FFFFFF;

  img {
    margin-left:10px;
    padding: 5px;

    @media screen and (max-width: 767px) and (min-width: 0px) {
      margin:auto;
      padding: 5px;
      width:111px;
      margin-top: 13px;
    }
    }

  a {
    color: $main_dark !important;
    text-transform: uppercase!important;
    background-color: transparent!important;
    background: transparent!important;
    height: 100%;
    display: inline-block;

    &:hover {
      color: $main_color;
      text-decoration: none;
    }
  }
}

.nav {
  float:right;
  margin-top: 10px;

  a {
    &:hover {
      background-color: transparent!important;
      background: transparent!important;
      color:#1c51c6!important;
    }

    &:active {
      background-color: transparent!important;
      background: transparent!important;
      color:#1c51c6!important;
    }
  }

  @media screen and (max-width: 767px) and (min-width: 0px) {
    float: none;
  }
}

.navbar-nav {
  flex-direction: row;
  padding-right: 2rem;
  margin-top: 2rem;

  > li {
    margin-left: 2rem;
  }

  @media screen and (max-width: 767px) and (min-width: 0px) {
    display: none;
  }
  }

.navbar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(sm) {
    justify-content: center;
    flex-direction: row-reverse;
  }
}

.navbar-collapse {
  background-color: #FFFFFF;
  box-shadow: 0 4px 2px -2px #dcdfe5;

  ul li a {
    &:hover {
      background-color: transparent!important;
      background: transparent!important;
      color:$main_color;
    }

    &:active {
      background-color: transparent!important;
      background: transparent!important;
      color:$main_color;
    }
  }
}

.mobile-menu {
  top: 100px !important;

  .popup-close-light {
    float: right;
  }

  .MuiPaper-root {
    color: #FFF;
    background-color: $main_medium_dark !important;
  }

  .MuiBackdrop-root {
    top: 100px !important;
  }

  .MuiDialogContent-root {
    margin: 0;
  }

  .menu-list {
    display: block;
    float: none;
    margin-top: 0;

    li {
      display: block;
      float:none;
      color: #FFF;
      line-height: 4rem;
      font-size: 2rem;
      padding-right: 0;

      span {
        color: #FFF;

        &:hover {
          color: $secondary_color;
          border-bottom: 2px solid $secondary_color;
        }
      }
    }
  }
}



.menu-list {
  display: flex;
  margin-top: 35px;

  li {
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    line-height: 2rem;
    font-size: 1rem;
    padding-right: 15px;

    span {
      cursor: pointer;
      color: $main_dark;
      border-bottom: 2px solid transparent;
    }

    &:hover {
      span {
        color: $main_color;
        text-decoration: none;
        border-bottom: 2px solid $main_color;
      }
    }
  }
}

.menu-icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border:none;
  width: 50px;
  height: 45px;
  position: absolute;
  left: 2rem;
  top: 30%;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2),.menu-icon span:nth-child(3) {
  top: 18px;
}

.menu-icon span:nth-child(4) {
  top: 36px;
}

.menu-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


.menu-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: $main_dark;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
