.MuiDialog-root {
  z-index: 2;
}
.popup-wrapper {
  width: 60%;
  background-color: white;
  padding: 2rem;
  height: inherit;
  opacity: inherit;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.popup-overlay {
  width: 100%;
  background-color: rgba(100, 100, 100, .6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  transition: visibility,opacity .5s;
}

.popup-open {
  opacity: 1;
  height: 100%;
  transition: opacity .5s;

  .popup-wrapper {
    height: auto !important;
  }
}

.popup-header {
  padding: .5rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.popup-closed {
  opacity: 0;
  visibility: hidden;
  transition: opacity .8s;
}

.MuiAutocomplete-popup {
  top: -2rem !important;
  z-index: 1500 !important;
}

.MuiDialogContent-root {
  margin: auto;

  .form-error-wrapper {
    max-width: 400px;
  }

  .MuiPaper-root {
    background-color: $main_light_gray;
    min-width: 400px;
  }

  .form, .Mui-InputBase-root, .MuiAutocomplete-root {
    width: 400px;
  }

  @media (max-width: $breakpoint-mobile) {

    .form-error-wrapper {
      max-width: 80vw;
    }

    .MuiDialogTitle-root {
      background-color: $main_color;
      color: white;

    }

    .popup-close {
      height: 40px;
      width: 40px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>');
    }

    .form, .Mui-InputBase-root, .MuiAutocomplete-root {
      width: 80vw;
    }

    .form-button {
      height: 70px;
      width: 100%;
      max-width: unset;
    }

    .form {
      .MuiInputAdornment-positionEnd {
        .MuiIconButton-label {
          justify-content: flex-end;
        }
      }
    }
  }
}

.popup-close {
  float: right;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>');

  &-light {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>') !important;

    &:hover {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(214, 223, 63)" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>') !important;
    }
  }
}
