.content-container {
  height: auto;
  width: 100vw;
  background-color: $main_light_gray;
  min-height: calc(100vh - 104px - 5vh);

  &-with-padding {
    padding: 2rem;
  }

  &-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 0;
  }

  &-align-center {
    margin: auto 0  40px;
    text-align: center;
  }

  &-float-right {
    float: right;
  }

  @media (max-width: 768px) {
    padding-top: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

.landing-page {
  padding: 50px;
  background-position: center;
  background-size: cover;
  color: $white;

  a {
    color: $white;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-sm-8, .col-sm-4 {
    max-width: 100% !important;
    flex: 1 !important;
  }
}

.content-iframe {
  border: none;
}

.in-grid-wide {
  margin: 0 10%;
}

.in-grid-narrow {
  margin: 0 20%;
}

.mobile-header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top:0;

  .navbar {
    min-height: 100px;
  }
}
